.events-latest-page .brancket-counter {
  counter-reset: item;
  list-style: none;
  padding-left: 20px;
}

.events-latest-page .brancket-counter > li {
  counter-increment: item;
  position: relative;
}

.events-latest-page .brancket-counter > li::before {
  content: counter(item) ") ";
  position: absolute;
  left: -20px;
}

.events-latest-page .right-position {
  display: grid;
  place-items: center;
}

@media (width > 980px) {
  .events-latest-page .right-position {
    position: absolute;
    bottom: 0px;
    right: 40px;
  }
}
