/* dropdown */
@media (width >= 768px) {
  header .dropdown-is-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 87%;
    left: inherit;

    background: white;
    padding: 10px 0;

    opacity: 1;
    transition: opacity ease 0.3s;
  }
}
@media (width < 768px) {
  header .dropdown-is-active {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
  }
}
header .dropdown-is-inactive {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: inherit;
  opacity: 0;
}

@media (width >= 768px) {
  header .dropdown--nested-is-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: inherit;
    left: 100%;
    margin-top: -42px;

    background: white;
    padding: 10px 0;

    opacity: 1;
    transition: opacity ease 0.3s;
    white-space: nowrap;
  }
  header .dropdown--nested-is-inactive {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: inherit;
    opacity: 0;
  }
}
@media (width < 768px) {
  header .dropdown--nested-is-active,
  header .dropdown--nested-is-inactive {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }
}

@media (width >= 768px) {
  header .dropdown__head {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media (width < 768px) {
  header .dropdown__head {
    font-size: 18px;

    /* opening each border */
    border-top: 1px solid black;
    padding: 10px 0;
  }

  /* closing the last border */
  header .dropdown__head:nth-last-child(1) {
    border-bottom: 1px solid black;
  }
}

@media (width < 768px) {
  header .menu-is-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 100%);

    display: flex;
    flex-direction: column;
    padding: 0 24px 86px 24px;
    overflow-y: scroll;
  }
}
